body,
html,
#root,
p {
  font-family: "Crimson Text", serif !important;
  color: rgba(255,255,255,0.9) !important;
}

th {
  font-family: "Crimson Text", serif !important;
  color: rgba(255,255,255,0.9) !important;
  font-size: 20px;
  border-color: rgba(255,255,255,0.2) !important;
}

ul li::marker {
  color: green !important;
}

body, html, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.9) !important;
  color: rgba(255,255,255,0.9) !important;
}
